{% extends "base.html" %}

{% block content %}
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.name }}</td>
            <td>{{ department.description }}</td>
            <td>
                <a href="{% url 'department_update' department.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'department_delete' department.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}