{% extends "base.html" %}

{% block content %}

<div id='calendar' class="col col-8"></div>

<script>

 /* document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
    
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: '2023-05-07',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: '/all_events'

        
      });
    
      calendar.render();
    });*/

    $(document).ready(function(){
      var calendar = $("#calendar").fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: '/all_exams'
      });
    });

</script>

  
{% endblock content %}