.login-frame {
    width: 60%;
    padding: 30px 100px;
    padding-bottom: 60px;
    margin: auto;
    margin-top: 40px;
    background-color: #0a0d29;
    color: #A5C0DD;
}


.login-frame h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.login-frame h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.login-frame label {
    font-size: 20px;
    margin-bottom: 10px;
}

.login-frame button {
    background: #576CBC;
    width: 40%;
    margin-top: 30px;
}